/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    padding-top: 100px;
}

/* Common CSS */
a {
    text-decoration: none;
}
.blue{
    color:#2563EB;
}


.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;

}

.btn {
    background: #2563EB;
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 12px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #0040c0;
}

/*  Navbar Section */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #ffffff;
}

.navbar-parent {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: #575757;
    transition: .3s;
}

nav a:hover {
    color: #0040c0;
}

.hero-section {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hero-content-parent {
    text-align: center;
}

.hero-content-parent h1 {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}

.hero-content-parent p {
    font-size: 20px;
    color: #ffffff;
    line-height: 26px;
    max-width: 700px;
    margin: 0 auto 40px;
    font-weight: 300px;
}

.hero-button {
    background: #2563EB;
    color: #ffffff;
    font-size: 20px;
    padding: 22px 55px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    transition: .3s;
}

.hero-button:hover {
    background: #0040c0;
}

/* Speaker Section  */
.speaker-section {
    margin: 70px 0;
}

.speaker-section h2 {
    color: #000102;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.speaker-card-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;
    gap: 30px;
}

.speaker-card {
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    overflow: hidden;
}

.speaker-content {
    padding: 20px;
}

.speaker-content small {
    font-size: 12px;
    color: #2563EB;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 8px;
}

.speaker-content h3 {
    color: #0D1B2A;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}

.speaker-content p {
    font-size: 12px;
    color: #575757;
}

/* Secure Section */

.secure-section {
    padding: 80px;
}

.secure-main-heading {
    color: #0D1B2A;
    font-size: 48px;
    text-align: center;
}

.secure-main-subtitle {
    color: #575757;
    font-size: 16px;
    text-align: center;
    margin: 10px auto 40px;
}

.pricing-card-parent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pricing-card,
.pricing-card-pro {
    border-radius: 10px;
    border: 1px solid #E5E7EB;
    padding: 30px;
    width: 100%;
}

.pricing-card-heading {
    font-size: 12px;
    font-weight: 600;
    color: #888888;
    letter-spacing: .3px;
    margin-bottom: 8px;
}

.pricing-card-pro-heading {
    font-size: 12px;
    font-weight: 600;
    color: #93C5FD;
    letter-spacing: .3px;
    margin-bottom: 8px;
}

.pricing-card-amount {
    font-size: 35px;
    font-weight: 700;
    color: #0D1B2A;
}

.pricing-card-pro-amount {
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
}

.pricing-card-person {
    font-size: 12px;
    color: #888888;
    padding-bottom: 20px;
    border-bottom: .5px solid #E5E7EB;
}

.pricing-card-pro-person {
    font-size: 12px;
    color: #ebebeb;
    padding-bottom: 20px;
    border-bottom: .5px solid #454545;
    opacity: 50%;
}

.pricing-card-content-list ul,
.pricing-card-pro-content-list {
    padding-left: 16px;
    margin-top: 20px;
}

.pricing-card-pro {
    background: #0D1B2A;
}

.pricing-card-content-list ul li {
    color: #333333;
    font-size: 12px;
    margin-top: 15px;
}

.pricing-card-pro-content-list ul li {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 15px;
    opacity: 80%;
}

.pricing-card-content-list ul li::marker {
    color: #2563EB;
}

.pricing-card-pro-content-list ul li::marker {
    color: #60A5FA;
}


.pricing-card-standard-btn {
    width: 100%;
    color: #2563EB;
    border: 1px solid #2563EB;
    background: transparent;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 25px;
    cursor: pointer;
    transition: .3s;
}

.pricing-card-standard-btn:hover {
    background: #ebebeb;
}

.pricing-card-pro-btn {
    width: 100%;
    padding: 10px 0px;
    font-weight: 500;
    margin-top: 25px;
}

.pricing-card-team-btn {
    width: 100%;
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
    background: transparent;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 25px;
    cursor: pointer;
    transition: .3s;
}

.pricing-card-team-btn:hover {
    background: #ebebeb;
}

/* Sponsor Section */


.sponsor-section{
    padding:85px 0px;
    background:#0D1B2A;
    margin-top:30px ;
}

.sponsor-section-content{
    display: flex;
    justify-content: space-between;
}

.sponsor-text-title{
    color:#2563EB;
    font-weight: 700;
    margin-bottom: 20px;
}
.sponsor-text-heading{
    font-size: 48px;
    color:#FFFFFF;
}

.sponsor-text-paragraph{
    font-size: 20px;
    color: #ffffff;
    line-height: 26px;
    max-width: 650px;
    margin: 0 auto 40px;
    font-weight: 300px;
    margin-top: 25px;
    opacity: 80%;
}

.become-sponsor-link{
    color:#2563EB;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap:10px;
}
.sponsor-list{
    margin-top: 60px;
}

.sponsor-list-heading{
    color:#2563EB;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}


.sponsor-card-parent{
    display: flex;
    justify-content: space-between;
    gap:15px;
    text-align: center;
}
.sponsor-card{
    background:#ffffff;
    padding:20px;
    border-radius: 10px;
    width:100%;
    max-height: 160px;
    display: grid;
    justify-content: center;

}
.sponsor-card h4{
    margin-top: auto;
    color:#888888;
    font-weight: 500;
    font-size: 13px;
    padding-top:10px;
}














/* Footer Section */

footer {
    
}

.footer-section{
    padding:30px 0px;
}

.footer-first-section-parent{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E7EB;
}

.social-media-icon{
    display: flex;
    gap:25px;
}
.social-media-icon a{
    color:#0D1B2A;
    font-size: 20px;
}

.footer-second-section-parent{
    display: flex;
    justify-content: space-between;
    margin-top:25px;
}

.footer-second-section-parent p,
.common-link a{
    font-size: 16px;
    color: #888888;
}
.common-link{
    display: flex;
    gap:25px;
}

